@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,500&display=swap');

body {
    background-color: peachpuff;
    font-family: 'Kufam', cursive;
}

h2 {
    color: brown;
    text-decoration: underline;
}

button {
    background-color: brown;
    color: white;
    font-size: 120%;
    cursor: pointer;
}